
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* Custom Styles*/

body {
  font-family: 'Sigmar One', sans-serif;
  font-size: 30px;
}

header {
  font-size:75px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  border: 6px solid #000;
  padding: 10px;
  background-image: url(turf.jpeg);
  background-position: center center;
  height: 75px;
  background-size: cover;
  position: relative;
}

table {
  background-image: url(turf.jpeg);
  background-position: center center;
  margin: 0 auto;
  width: 70%;
}

td {
  height: 200px;
  width: 200px;
  border: 10px solid #fff;
}

.teams {
  background-image: url(miami-vs-fsu.jpeg);
  background-position: center center;
  -webkit-filter: contrast(60%);
  filter: contrast(60%);
  height: 350px;
  background-size: cover;
  position: relative;
  font-size: 50px;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.logos img {
  position: relative;
  display: inline;
  width: 20%;
  height: auto;
}
img {
  opacity: 0.6;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}
img:hover {
  opacity: 1.0;
  transition: opacity .55s ease-in-out;
  -moz-transition: opacity .55s ease-in-out;
  -webkit-transition: opacity .55s ease-in-out;
}
.row {
  height: 40%;
  width: 40%;
}

#seminole img {
  position: relative;
  float: right;
  width: 10%;
  height: auto;
}

#hero_content {
  padding-top: 285px;
  font-weight: bold;
}





















